.gato {

    color: rgb(9, 246, 29);
}

.gato2{
    color: rgb(39, 38, 37);
}

.gatin{
    color: rgb(240, 8, 31);
}



body{
    background-image: url("imagenes/imagen3.jpg"); /* poner imagen de fondo */
   
    background-repeat: no-repeat;  /* que la imagen no se repita */
   
    background-size: cover;    /* que la imagen cubra toda la pantalla */
   
    font-family: 'Roboto', sans-serif; /* cambiar la letra de toda la pagina con el codigo de HTML*/
}